body {
  margin: 0px;
  padding: 0px;

  font-family: 'Poppins', sans-serif;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #333;
}

.logo {
  max-height: 300px;
}